In [ ]:
import requests

r = requests.get('https://api.openweathermap.org/data/2.5/weather?q=New%20York&appid=**********')

print(r.json())

{'coord': {'lon': -74.006, 'lat': 40.7143}, 'weather': [{'id': 721, 'main': 'Haze', 'description': 'haze', 'icon': '50d'}], 'base': 'stations', 'main': {'temp': 282.48, 'feels_like': 279.49, 'temp_min': 281.46, 'temp_max': 284.46, 'pressure': 1005, 'humidity': 87, 'sea_level': 1005, 'grnd_level': 1004}, 'visibility': 10000, 'wind': {'speed': 6.17, 'deg': 150, 'gust': 8.23}, 'clouds': {'all': 100}, 'dt': 1742496792, 'sys': {'type': 2, 'id': 2037026, 'country': 'US', 'sunrise': 1742468343, 'sunset': 1742512065}, 'timezone': -14400, 'id': 5128581, 'name': 'New York', 'cod': 200}

In [2]:
import requests
r = requests.get('https://www.google.com/monkeybagel/')

if r.status_code == 404:
    print("Page not found.")

Page not found.

#Dictionaries

In [2]:
d = {'key1': 'value1'}

d['key1']

'value1'

In [3]:
d["key2"] = "value2"

d

{'key1': 'value1', 'key2': 'value2'}

In [4]:
d['key2'] += "!"

d

{'key1': 'value1', 'key2': 'value2!'}

In [5]:
print(d['key1'] + d['key2'][-1])

value1!

In [6]:
d

{'key1': 'value1', 'key2': 'value2!'}

In [7]:
del d['key1']

d

{'key2': 'value2!'}

In [9]:
d.keys()

dict_keys(['key2'])

In [10]:
d.values()

dict_values(['value2!'])

In [14]:
favorites = {'color': 'Black', 'number': 24, 'animal': 'Tiger', 'language': 'Python'}

for items in favorites.items():
    print(items)

('color', 'Black')
('number', 24)
('animal', 'Tiger')
('language', 'Python')

In [15]:
for key, value in favorites.items():
    print(key, value)

color Black
number 24
animal Tiger
language Python

In [16]:
for key, value in favorites.items():
	print(f"my favorite {key} is {value}")

my favorite color is Black
my favorite number is 24
my favorite animal is Tiger
my favorite language is Python

In [17]:
list = []
for v in favorites.values():
    list.append(v)
print(list)

['Black', 24, 'Tiger', 'Python']

In [18]:
str = 'it appears that the the appears the most in the sentence'
dict = {}
list = str.split(" ")
for word in list:
    if word in dict:
        dict[word] = dict[word] + 1
    else:
        dict[word] = 1
for key, value in dict.items():
    print(f"\'{key}\' appears {value} time(s) in the string")

'it' appears 1 time(s) in the string
'appears' appears 2 time(s) in the string
'that' appears 1 time(s) in the string
'the' appears 4 time(s) in the string
'most' appears 1 time(s) in the string
'in' appears 1 time(s) in the string
'sentence' appears 1 time(s) in the string

In [19]:
pets = {
    'birds': {
        'parrot': 'Arthur',
        'canary': 'Ford'
    },
    'fish': {
        'goldfish': 'Zaphod',
        'koi': 'Trillian'
    }
}

for e in pets:
    print(e)

birds
fish

In [20]:
for e in pets['birds']:
    print(e)

parrot
canary

In [21]:
for e in pets['birds'].values():
   print(e)

Arthur
Ford

In [22]:
weather = [
    {
        'date':'today',
        'state': 'cloudy',
        'temp': 68.5
    },
    {
        'date':'tomorrow',
        'state': 'sunny',
        'temp': 74.8
    }
]

In [23]:
for e in weather[0]:
    print(e)

date
state
temp

In [24]:
for e in weather[0].values():
    print(e)

today
cloudy
68.5

In [25]:
for e in weather:
    print(e['date'])
    print(e['state'])
    print(e['temp'])

today
cloudy
68.5
tomorrow
sunny
74.8

In [29]:
for forecast in weather:
    date = forecast['date']
    state = forecast['state']
    temp = forecast['temp']
    print(f"The weather for {date} will be {state} with a temperature of {temp} degrees.")

The weather for today will be cloudy with a temperature of 68.5 degrees.
The weather for tomorrow will be sunny with a temperature of 74.8 degrees.

In [33]:
import requests

r = requests.get('https://api.openweathermap.org/data/2.5/weather?q=New%20York&appid=9ee66237b4691b7759a20b99c37aa616')

d= r.json()

print(d)

for key in d:
    print(key)

{'coord': {'lon': -74.006, 'lat': 40.7143}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 287.34, 'feels_like': 285.78, 'temp_min': 287.34, 'temp_max': 287.34, 'pressure': 1010, 'humidity': 37, 'sea_level': 1010, 'grnd_level': 1010}, 'visibility': 10000, 'wind': {'speed': 7.72, 'deg': 250, 'gust': 12.86}, 'clouds': {'all': 75}, 'dt': 1742926146, 'sys': {'type': 1, 'id': 4610, 'country': 'US', 'sunrise': 1742899841, 'sunset': 1742944379}, 'timezone': -14400, 'id': 5128581, 'name': 'New York', 'cod': 200}
coord
weather
base
main
visibility
wind
clouds
dt
sys
timezone
id
name
cod

In [32]:
d["weather"]

[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]

In [34]:
d["main"]

{'temp': 287.34,
 'feels_like': 285.78,
 'temp_min': 287.34,
 'temp_max': 287.34,
 'pressure': 1010,
 'humidity': 37,
 'sea_level': 1010,
 'grnd_level': 1010}

In [36]:
d["main"]["temp_max"]

287.34

In [37]:
r.json()

{'coord': {'lon': -74.006, 'lat': 40.7143},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 287.34,
  'feels_like': 285.78,
  'temp_min': 287.34,
  'temp_max': 287.34,
  'pressure': 1010,
  'humidity': 37,
  'sea_level': 1010,
  'grnd_level': 1010},
 'visibility': 10000,
 'wind': {'speed': 7.72, 'deg': 250, 'gust': 12.86},
 'clouds': {'all': 75},
 'dt': 1742926146,
 'sys': {'type': 1,
  'id': 4610,
  'country': 'US',
  'sunrise': 1742899841,
  'sunset': 1742944379},
 'timezone': -14400,
 'id': 5128581,
 'name': 'New York',
 'cod': 200}